<!DOCTYPE html>
<html>

<head>
	<title>Home Page</title>
	<link href="/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="container">
		<div class="header">
			<div class="header-left">
				<span style="color: #2B2B35;">
					<%= key %>
				</span>
				<h1>
					<%= activity %>
				</h1>
				<h3>Outdoor & Sporting Goods Company</h3>
				<button>
					Explore More
					<span><img src="/Arrow 3.png" /></span>
				</button><i class="fas fa-band-aid"></i>
				<i class="fas fa-clock"></i>
				<p>We have more special goods for you</p>
				<div class="middle">
					<div>
						<span>More than</span>
						<h2>50+</h2>
						<span>Adventure Product</span>
					</div>
					<div>
						<span>More than</span>
						<h2>75+</h2>
						<span>Outlet in Indonesia</span>
					</div>
				</div>
				<footer>
					<div class="footer-left">
						<div class="footer-content">
							<img src="/card-send.png" />
							<div>
								<span>accessibility</span>
								<h3>
									<%= accessibility %>
								</h3>
							</div>
						</div>
						<div class="footer-content">
							<img src="/shield-tick.png" />
							<div>
								<span>type</span>
								<h3>
									<%= type %>
								</h3>
							</div>
						</div>
					</div>
					<div class="footer-right">
						<div>
							<img src="/image 8.png" />
						</div>
						<div class="img-right">
							<div class="img-right-upper">
								<img src="/Group 33128.png" />
							</div>
							<div class="img-right-lower">
								<img src="/image 11.png" />
							</div>
						</div>
					</div>
				</footer>
			</div>
			<div class="header-right">
				<span style="color: #9497A8;">PRICE</span>
				<span style="align-self: flex-end; font-weight: bold;">
					<%= price %>
				</span>
			</div>
		</div>
	</div>
</body>

</html>